/* VARIABLES */

$color1 : #9356DC;
$color2 : #FF79DA;
$color3 : #99E2D0;
$backgroundlight : #F6F6F6 ;
$backgroundregular: #EAEAEA;
$footer-color : #353535;
$loadersize : 60px;
$loaderweight : 7px;

/* MAPS */

$breakpoints: (
    mobile : 768px,
    tablette : 992px
);

/* EXTENSIONS */
%padding-defaut {padding : 30px 20px 30px 20px;}
%padding-desktop {padding : 30px 40px 30px 40px;}

/* MIXINS, KEYFRAMES */

@mixin tablette-only {
    @media screen and (min-width : map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width : map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin sidespadding {
    padding-left : 20px;
    padding-right : 20px;
}

@keyframes pageloader {
    0% {
        opacity : 1;
    }
    20% {
        opacity : 1;
    }
    40% {
        opacity : 1;
    }
    60% {
        opacity : 1;
    }
    80% {
        opacity : 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform : rotate(0turn);
        opacity: 1;
    }
    20% {
        transform : rotate(1turn);
        opacity: 1;
    }
    40% {
        transform: rotate(2turn);
        opacity: 1;
    }
    60% {
        transform: rotate(3turn);
        opacity: 1;
    }
    80% {
        transform: rotate(4turn);
        opacity: 1;
    }
    85% {
        transform: rotate(-1turn);
        opacity: 1;
    }
    
}

/*Code*/

* {
    box-sizing: border-box;
}

body {
    margin : 0px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin : 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    background: linear-gradient($color2, $color1);
    color: white;
    border: transparent;
    box-shadow: 0px 5px 8px lightgrey;
    font-family: 'Roboto';
    font-size: 1em;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 10px darken($color: lightgrey, $amount: 10);
    }
}

h1 {
    font-family: 'Shrikhand', cursive;
    margin : 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    margin : 10px 0px 20px 0px;
}

h3 {
    font-family: 'Shrikhand', cursive;
    margin : 0px;
}

h4 {
    font-family: 'Shrikhand', cursive;
    margin : 0px 0px 20px 0px;
}

p, a {
    font-family : 'Roboto', sans-serif;
    font-size : 0.9em;
}

header {
    text-align : center;
    .header__arrow {
        position : absolute; 
        left : 30px;
        top : 25px;
        font-size: 1.2em;
    }
}

/*.pageloader {
    height: 100%;
    width: 100%;
    background-color:$backgroundlight;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation : pageloader 3000ms forwards;
    &__loader {
        width : $loadersize;
        height : $loadersize;
        border : $loaderweight solid $color1;
        border-right : $loaderweight solid $color2;
        border-bottom: $loaderweight solid $color1;
        border-left : $loaderweight solid $color3;
        border-radius : $loadersize;
        margin: auto;
        position : absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        opacity: 0;
        animation: loader 2500ms linear 200ms; 
    }
}*/

.localisation {
    background-color: $backgroundregular;
        &__name {
            display: flex;
            justify-content: center;
            align-items: center;
                .fa-map-marker-alt {
                    padding : 10px;
                }    
        }
}

.accueil {
    background-color: $backgroundlight;
    @extend %padding-defaut;
    text-align: center;
}

.fonctionnement {
    @extend %padding-defaut;
        &__etape {
            width : 90%;
            background-color: $backgroundlight;
            margin: 0px 0px 30px 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 20px;
            box-shadow: 3px 3px 10px lightgrey;
            &:hover { /* Modification effet de survol des boutons centraux*/
                cursor : pointer;
                background-color: lighten($color1, $amount: 35);
                box-shadow: 5px 5px 10px darken($color: lightgrey, $amount: 10);
                & > .fas {
                color : $color1;
                }
            }
            .etape__nbr {
                background: $color1;
                border-radius: 20px;
                padding: 5px 10px 5px 10px;
                position: relative;
                left : -12px;
                color: white;
                font-family: 'Roboto';
                font-size : 0.9em;
                font-weight : normal;
            }
            .fas {
                color: grey;
                padding: 0px 20px 0px 20px;
            }
            p {
                font-weight: bold;
            }
        }
}

.restaurants {
    background-color: $backgroundlight;
    @extend %padding-defaut;
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .restau {
            border-radius: 20px;
            width: 100%;
            height: 200px;
            box-shadow: 5px 5px 4px lightgrey;
            position : relative;
            margin-bottom : 20px;

            &__bandeau {
                height : 30%;
                width : 100%;
                position : absolute;
                bottom : -1px;
                background : white;
                border-radius: 0px 0px 20px 20px;
                padding : 10px;
                display : flex;
                justify-content: space-between;
                align-items: center;
            }

            &__nouveau {
                background: $color3;
                color: darken($color: $color3, $amount: 40);
                width : 25%;
                border-radius : 2px;
                text-align : center;
                position : relative;
                top : 15px;
                left : 70%;
                p {
                    margin : 0px;
                    padding : 5px 1px 5px 1px;
                    font-weight: bold;
                }
            }

        }
        .restau--planetedugout {
            background: url(./images/restaurants/La-palette-du-gout.jpg) no-repeat center;
            background-size : cover;
        }
        .restau--noteenchantee {
            background: url(./images/restaurants/La-note-enchantee.jpg) no-repeat center;
            background-size : cover;
        }
        .restau--alafrancaise {
            background: url(./images/restaurants/A-la-francaise.jpg) no-repeat center;
            background-size : cover;
        }
        .restau--delicedessens {
            background: url(./images/restaurants/Le-delice-des-sens.jpg) no-repeat center;
            background-size : cover;
        }
}

.restau__texte {
    display: flex;
    flex-flow : column;
    justify-content: space-between;
    align-items: flex-start;
    .restau__nom {
        font-weight: bolder;
        margin : 0px 0px 5px 0px;
    }
    .restau__quartier {
        margin : 0px;
    }
}

.restau__coeur{
    &--vide {
        z-index : 1;
    }
    &--plein { 
        z-index : 0;
        position : relative;
        right : 18px;
        color : $color2;
        opacity : 0;
        &:hover { /*Modification de l'apparence du coeur au survol*/
            opacity : 1;
            transition : opacity 500ms;
        }
    }
}

footer {
    background-color: $footer-color;
    @extend %padding-defaut;
    color : white;
    display: grid;
    grid-template-columns: 30px 90%;
    grid-template-rows: 5;
    gap: 0px;
    a {
        color : white;
        padding-bottom : 10px;
    }
        h4 {
        grid-column: 1/3;
        grid-row: 1;
        font-weight: normal;
    }
    .footer__link1 {
        grid-column: 2;
        grid-row: 2;
    }
    .footer__link2 {
        grid-column: 2;
        grid-row: 3;
    }
    .footer__link3 {
        grid-column: 1/3;
        grid-row: 4;
    }
    .footer__link4 {
        grid-column: 1/2;
        grid-row: 5;
    } 
}


/* --------------------------------------- Pages Restaurants ----------------------------------------------- */
/*

.pagedesmenus {
    background-color: $backgroundlight;
}

.photorestaurant {
    background-size: cover;
    height : 200px;
    width : 100%;

    &--planetedugout {
        background-image: url(./images/restaurants/La-palette-du-gout.jpg);
    }
    &--noteenchantee {
        background-image: url(./images/restaurants/La-note-enchantee.jpg);
    }
    &--alafrancaise {
        background-image: url(./images/restaurants/A-la-francaise.jpg);
    }
    &--delicedessens {
        background-image: url(./images/restaurants/Le-delice-des-sens.jpg);
    }
}

.menu {
    @extend %padding-defaut;
    padding-bottom : 0px;
    border-radius : 30px 30px 0px 0px;
    background-color : $backgroundlight;
    position: relative;
    top : -30px;
        &__typerepas {
            font-weight : 300;
            padding-top : 20px;
            margin : 0px;   
        }
        &__deco {
            background: $color3;
            width : 40px;
            height : 3px;
            margin : 5px 0px 15px 0px;
        }
        &__commande {
            text-align: center;
        }
}

.plat {
    text-decoration : none;
    background-color : white;
    border-radius : 20px;
    padding : 0px;
    margin-bottom : 10px;
    display : flex;
    justify-content: space-between;
    box-shadow : 0px 5px 10px lightgrey;
    overflow: hidden;
    opacity: 0;
    &--1 {
        animation: appears 800ms ease-in 200ms;
        animation-fill-mode: forwards;
    }
    &--2 {
        animation: appears 800ms ease-in 400ms;
        animation-fill-mode: forwards;
    }
    &--3 {
        animation: appears 800ms ease-in 600ms;
        animation-fill-mode: forwards;
    }
    &__detail {
        padding : 10px;
    }
    &__bloc {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        transform-origin : right;
        transform : translateX(60%);
        transition : transform 400ms ease;
    }
        
        &__prix {
            align-self : end;
            font-weight : bold;
            padding-right : 20px;
        }
        &__choice {
            color : white;
            background-color: $color3;
            text-align: center;
            border-radius : 0px 20px 20px 0px;
            width : 60%;
            
            .fa-check-circle {
                padding : 20px;
                margin : auto;
                vertical-align: middle;
                font-size: 1.2em;
                transform: rotate(0deg);
                transition : transform 400ms ease;
            }
        }
        &__nom {
            font-weight: bold;
            margin : 0px 0px 5px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__accompagnement { 
            margin : 0px;
            font-size: 0.8em;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    &:hover { 
        cursor: pointer;
        & .plat__bloc {
            transform : translateX(0px);
        }
        & .fa-check-circle {
            transform : rotate(360deg);
        }
    }
}

.btn--commander {
    margin-bottom : 0px;
}*/

/* ----------- Réécriture page des menus -------------*/

/* Photo du Restaurant*/
.photorestaurant {
    background-size: cover;
    height : 200px;
    width : 100%;
    &--palettedugout {
        background-image: url(./images/restaurants/La-palette-du-gout.jpg);
    }
    &--noteenchantee {
        background-image: url(./images/restaurants/La-note-enchantee.jpg);
    }
    &--alafrancaise {
        background-image: url(./images/restaurants/A-la-francaise.jpg);
    }
    &--delicedessens {
        background-image: url(./images/restaurants/Le-delice-des-sens.jpg);
    }
}

/* Conteneur Main > Style Nom du restaurant + coeur */
.page_menus { 
    @extend %padding-defaut;
    background-color: $backgroundlight;
    position: relative;
    top: -30px;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: -30px;
    &__nom_restaurant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
    }
    &__coeur_restaurant {
        margin: 0 50px 30px 0;
        &--vide {
            font-size: 1.4em;
            position: absolute;
            color: $footer-color;
            opacity: 1;
        }
        &--plein {
            font-size: 1.4em;
            position: absolute;
            opacity : 0;
            color: transparent;
            background: linear-gradient(to top, $color1, $color2);
            -webkit-background-clip: text;
            transform-origin: bottom;
        }
        &:hover {
            & .page_menus__coeur_restaurant--vide {
                animation: loveit--empty 300ms linear 100ms forwards;
            }
            & .page_menus__coeur_restaurant--plein {
                animation: loveit--full 500ms ease-in 100ms forwards;
            }
        }
    }
}

/* Style Menus */
.menu {
    &__type { /*Définition styles Entrées, Plats, Desserts*/
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 300;
        margin : 30px 0px 30px 0px;
        position: relative;
        &::after { /*Petits traits verts*/
            content: "";
            background-color: $color3;
            height: 3px;
            width: 50px;
            position: absolute;
            bottom : -10px;
            left : 0px;
        }
    }
    &__choix { /*Style pour chaque choix de plat*/
        display: flex;
        justify-content: space-between;
        border-radius : 20px;
        margin-bottom : 15px;
        background-color: white;
        padding-left: 15px;
        box-shadow : 0px 5px 10px lightgrey;
        overflow: hidden;
        &:hover { /*effet au survol du plat > coche verte sur la droite*/
            cursor: pointer;
            box-shadow : 0px 5px 20px lightgrey;
            & .menu__prix_et_choix--check {
                width : 80px;
                transition-duration: 500ms;
            }
            & .fa-check-circle {
                transform: rotate(1turn);
            }
        }
    }
    &__texte { /* = menu_choix_liste*/
        white-space: nowrap;
        overflow: hidden;
        &--nom {
            font-weight: bolder;
            font-size: 1.05em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding : 10px 0px 5px 0px;
            margin : 0px;
        }
        &--accompagnement {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding : 0px 0px 10px 0px;
            margin : 0px;
            font-size: 0.9em;
        }
    }
    &__prix_et_choix { /* = menu_choix_complement*/
        display: flex;

        &--prix {
            font-weight: bold;    
            align-self: flex-end;
            margin-right: 20px;
            margin-left : 20px;
        }
        &--check {
            color : white;
            background-color: $color3;
            font-size : 1.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            width : 0px;
            .fa-check-circle {
                transform: rotate(0);
                transition: transform 500ms;
            }
        }
    }
    &__commande {
        text-align: center;
        margin-top : 20px;
        &:hover + button {
            box-shadow : 0px 5px 20px lightgrey;
        }
        .btn--commander {
            width: 50%;
        }
    }
}

/* Page Menus : Animation coeur*/

@keyframes loveit--full {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
    55% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(10deg);
    }
    70% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(-10deg);
    }
    85% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(0deg);
    }
}

@keyframes loveit--empty {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Page Menus : Animation du menu*/

$duree_appears : 400ms;
@keyframes appears {
    0% {
        opacity: 0;
        transform : translateY(15px);
    }
    100% {
        opacity : 1;
        transform : translateY(0px);
    }
}
.menu__choix:nth-child(2) {
    animation : appears $duree_appears ease-in 100ms;
    animation-fill-mode: backwards;
}
.menu__choix:nth-child(3) {
    animation : appears $duree_appears ease-in 200ms;
    animation-fill-mode: backwards;
}
.menu__choix:nth-child(4) {
    animation : appears $duree_appears ease-in 300ms;
    animation-fill-mode: backwards;
}
.menu__choix:nth-child(5) {
    animation : appears $duree_appears ease-in 400ms;
    animation-fill-mode: backwards;
}