/* VARIABLES & MAPS */ 

/* Couleurs */

$color1 : #9356DC;
$color2 : #FF79DA;
$color3 : #99E2D0;
$backgroundlight : #F6F6F6 ;
$backgroundregular: #EAEAEA;
$footer-color : #353535;
$shadowbase :lightgrey;

/* Pour animations */

$loadersize : 60px;
$loaderweight : 7px;
$duree_appears : 400ms;

/* Pour responsive */

$breakpoints: (mobile : 768px, tablette : 992px);
